.fade{opacity: .87}
.no-margin{margin: 0}
.no-list{list-style: none}

header{padding-top: 14vh}
header h1 strong{font-size: 150%}
header .h4{margin-bottom: 36px}
header .buttons .button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 48px 6px}
header .buttons .button b{margin: 0 6px}
header .preview-wrapper{
  position: absolute;
  top: -100%;
  left: 12px; right: 12px;
  margin: auto;
  width: 100%}

.preview-helper{
  width: 100%; height: 100%;
  max-width: 340px; max-height: 640px;
  position: absolute;
  top: 0; right: 0}
.preview-nexus5{
  width: 100%;
  padding-top: 188.235294118%;
  position: relative}
.preview-nexus5 .marvel-device{
  box-shadow: -5px -5px 25px rgba(14,21,47,.4);
  width: 100% !important; height: 100% !important}
.preview-nexus5 .marvel-device .screen .status-bar,
.preview-nexus5 .marvel-device .screen .nav-bar{
  padding: 6px;
  background-color: black;
  color: white}
.preview-nexus5 .marvel-device .screen .status-bar{height: 25px}
.preview-nexus5 .marvel-device .screen .status-bar i{
  font-style: normal;
  font-size: 12px;
  font-weight: bold}
.preview-nexus5 .marvel-device .screen .status-bar i.right{
  padding-left: 6px;
  float: right}
.preview-nexus5 .marvel-device .screen .status-bar i.left{
  padding-right: 6px;
  float: left}
.preview-nexus5 .marvel-device .screen .nav-bar{height: 48px}
.preview-nexus5 .marvel-device .screen .nav-bar i{padding: 6px 36px}
.preview-nexus5 .marvel-device .screen .iframe-wrapper{
  position: relative;
  height: calc(100% - 25px - 48px)}
.preview-nexus5 .marvel-device .screen .iframe-wrapper iframe{width: 100%; height: 100%}

.preview-code{direction: ltr}
.preview-code *{font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace}

main > .row{padding-top: 5vh}
main > .row:last-of-type{padding-bottom: 5vh}
main h3{margin: 36px 0 12px}

.stores-list .store{
  position: relative;
  max-height: 343px;
  padding: 12px}
.stores-list .store.googlePlay{background-color: #689f38}
.stores-list .store.cafeBazaar{background-color: #91b42f}
.stores-list .store .store-logo{
  font-size: 64px;
  padding-top: 72px;
  text-shadow: 0 2px 14px rgba(14,21,47,0.2)}
.stores-list .store .h3{margin: 32px 0}
.stores-list .store dl dd,
.stores-list .store dl dt{
  padding: 6px 12px;
  height: 31px}
.stores-list .store dl dd{font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace}
.stores-list .shadow{
  position: absolute;
  top: 8%; right: 8%;
  height: 86%; width: 84%;
  box-shadow: 0 8px 30px rgba(14,21,47,0.6)}
.stores-list .store.askForMore{display: block}
.stores-list .store.askForMore .store-logo{
  font-size: 72px;
  margin-bottom: -12px}
.stores-list .store.askForMore .askForeMoreText{margin: 44px 12px 28px}

table td,
table th{white-space: inherit !important}

footer{padding: 12px 0}

@media screen and (min-width:768px) and (max-width: 991px) {
  .stores-list .store{max-height: 350px}
  .stores-list .store .store-logo{padding-top: 18px}
  .stores-list .store.askForMore .askForeMoreText{margin-top: 49px}
}

@media screen and (max-width:767px) {
  header .buttons .button{
    font-size: 12px !important;
    line-height: 3 !important;
    margin: 48px 0}
  header{padding-top: 12px}
  table td,
  table th{
    white-space: nowrap !important;
    float: none !important}
  .stores-list .store .store-logo{
    font-size: 36px;
    padding: 15px;
    float: right}
  .stores-list .store .h3{
    margin: 21px 12px;
    float: right}
  footer{text-align: center}
  footer .gb{font-size: 24px}
}
