.fade{opacity: .87}

header{padding-top: 14vh}
header h1 strong{font-size: 150%}
header .h4{margin-bottom: 36px}
header .buttons .button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin: 48px 6px}
header .buttons .button b{margin: 0 6px}
header .preview-wrapper{
  margin-top: -5vh;
  margin-bottom: -12vh;
  position: absolute;
  top: 12px; left: 12px}


.preview-nexus5{width: 340px; height: 640px}
.preview-nexus5 .marvel-device{width: 100% !important; height: 100% !important}
.preview-nexus5 .marvel-device .screen .status-bar,
.preview-nexus5 .marvel-device .screen .nav-bar{
  background-color: black;
  color: white}
.preview-nexus5 .marvel-device .screen .status-bar{height: 25px}
.preview-nexus5 .marvel-device .screen .nav-bar{height: 48px}
